h1 {
	color: red;
}
li {
	color:blue;
}
li {font-size:20
}

body{background-color: darkblue;
}
 
 label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: .4rem 0;